{% extends 'base.html' %}

{% block title %}Login -{{block.super}} {% endblock %}
{% block main %}

{% load crispy_forms_tags %}

    <h1>Register for Cls-Pro</h1>
    <form  method="post">
        {% csrf_token %}
        {{rend}} {{x}}
        {{form|crispy}}
        <button class="btn btn-success" type="submit">Login</button>
    </form>
{% endblock %}

{% block js %}
<script>
    $("#id_username").change(function () {
        console.log( $(this).val() );
    });
</script>      

{% endblock %}